@model List<URLCutting.Models.ShortUrl>
@{
    ViewData["Title"] = "Сокращатель ссылок";
}

<h2>Сократить ссылку</h2>

<form asp-action="Create" method="post">
    <input type="text" name="originalUrl" placeholder="Введите ссылку" style="width:400px;" />
    <button type="submit">Сократить</button>
</form>

@if (ViewBag.Message != null)
{
    <p style="color: red;">@ViewBag.Message</p>
}

@if (ViewBag.ShortLink != null)
{
    <p>Сокращённая ссылка: <a href="@ViewBag.ShortLink">@ViewBag.ShortLink</a></p>
}


<p/><h3>Все сокращённые ссылки</h3>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>Длинный URL</th>
            <th>Сокращённый URL</th>
            <th>Дата создания</th>
            <th>Количество переходов</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var link in Model)
        {
            <tr>
                <td style="max-width: 300px; overflow-wrap: break-word;">@link.OriginalUrl</td>
                <td>
                    <a href="/@link.ShortCode" target="_blank">
                        @($"{Context.Request.Scheme}://{Context.Request.Host}/{link.ShortCode}")
                    </a>
                </td>
                <td>@link.CreatedAt.ToLocalTime().ToString("dd.MM.yyyy HH:mm")</td>
                <td>@link.Clicks</td>
                <td>
                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@link.Id">Редактировать</a>
                </td>
            </tr>
        }
    </tbody>
</table>


